@import url('https://fonts.googleapis.com/css2?family=Battambang:wght@400;700&family=Dangrek&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --blue: #1876f2;
  --white: #fff;
  --gap: 20px;
  --gap-right: 40px;
  --notification-icon-width: 80px;
  --notification-image-width: 67px;
  --gray: #555555;
  --gray-light: #f1f1f1;

  --success: #32c851;
  --info: #3cb5e7;
  --warning: #f78800;
  --danger: #f63547;

  --success-dark: #38b352;
  --info-dark: #3faad6;
  --warning-dark: #e48612;
  --danger-dark: #ca2c3b;

  --default: #276eb5;

  --width: 420px;
}

.notification {
  position: fixed;
  font-family: 'Raleway', 'Dangrek', sans-serif !important;
  padding: 10px;
  width: var(--width);
  height: auto;
  z-index: 1030 !important;
}

.notification-item {
  font-family: 'Raleway', sans-serif;
  position: relative;
  padding: 10px;
  width: var(--width);
  background-color: var(--white);
  border-radius: 8px;
  box-shadow: 0 12px 28px 0 rgba(0, 0, 0, 0.2),
  0 2px 4px 0 rgba(0, 0, 0, 0.1),
  inset 0 0 0 1px rgba(255, 255, 255, 0);
  display: grid;
  grid-template-columns: var(--notification-icon-width) 1fr 30px;
  grid-gap: 10px;
  margin-bottom: 15px;
  cursor: pointer;
}

.notification-top-left {
  left: var(--gap);
  top: var(--gap);
}

.notification-top-right {
  right: var(--gap-right);
  top: var(--gap);
}

.notification-bottom-right {
  right: var(--gap-right);
  bottom: var(--gap);
}

.notification-bottom-left {
  left: var(--gap);
  bottom: var(--gap);
}

.notification-title {
  position: relative;
}

.notification-title p {
  padding: 0;
  margin: 8px 0 0;
  font-family: 'Raleway', 'Dangrek', sans-serif !important;
  font-weight: bold;
}

.notification-close {
  width: 25px;
  height: 25px;
  background: var(--gray-light);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  cursor: pointer;
  padding: 0;
  margin: 0;
  line-height: 0;
}

.notification-icon {
  height: var(--notification-icon-width);
  width: 100%;
  border-radius: 100%;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 42px;
  color: var(--white);
}

.notification-body p,
.notification-body small,
.notification-body-time small {
  font-family: 'Raleway', 'Battambang', sans-serif !important;
}

.notification-body-text {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  overflow-y: hidden;
}

.notification-title-text {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  overflow-y: hidden;
  width: 100%;
}

.notification-body-time {
  color: var(--gray);
}

.no-circle {
  border-radius: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

.success {
  /*background-color: var(--success) !important;*/
  /*color: var(--white);*/
}

.success .notification-icon {
  /*background-color: var(--success-dark) !important;*/
  background-color: var(--success) !important;
}

.success .notification-close {
  /*background-color: var(--success-dark) !important;*/
}

.info {
  /*background-color: var(--info) !important;*/
  /*color: var(--white);*/
}

.info .notification-icon {
  /*background-color: var(--info-dark) !important;*/
  background-color: var(--info) !important;
}

.info .notification-close {
  /*background-color: var(--info-dark) !important;*/
}

.warning {
  /*background-color: var(--warning) !important;*/
  /*color: var(--white);*/
}

.warning .notification-icon {
  /*background-color: var(--warning-dark) !important;*/
  background-color: var(--warning) !important;
}

.warning .notification-close {
  /*background-color: var(--warning-dark) !important;*/
}

.danger {
  /*background-color: var(--danger) !important;*/
  /*color: var(--white);*/
}

.danger .notification-icon {
  /*background-color: var(--danger-dark) !important;*/
  background-color: var(--danger) !important;
}

.danger .notification-close {
  /*background-color: var(--danger-dark) !important;*/
}

.default .notification-icon {
  color: var(--white);
  background-color: var(--default);
}