<template lang="">
    <div>
        <Transition name="fade">
            <collage
                v-show="config.banner_type == 'collage'"
                :images="config.banner_images"
                height="100%"
                :collageSizeMin="5"
            >
                <slot slot="loader"> &nbsp; </slot>
            </collage>
        </Transition>
        <Transition name="fade">
            <header
                id="fh5co-header"
                class="fh5co-cover"
                role="banner"
                :style="static_background_config"
                data-stellar-background-ratio="0.5"
            >
                <div class="overlay"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <div class="display-t">
                                <div
                                    class="display-tc animate-box"
                                    data-animate-effect="fadeIn"
                                >
                                    <h1>
                                        {{ config.groom.split(" ")[0] }}
                                        &amp;
                                        {{ config.bride.split(" ")[0] }}
                                    </h1>
                                    <h2>{{ config.greeting }}</h2>

                                    <VueCountdown
                                        :time="config.remainingTime"
                                    >
                                        <template slot-scope="props">
                                            <div
                                                class="simply-countdown simply-countdown-one"
                                            >
                                                <div
                                                    class="simply-section simply-days-section"
                                                >
                                                    <div>
                                                        <span
                                                            class="simply-amount"
                                                            >{{
                                                                props.days
                                                            }}</span
                                                        >
                                                        <span
                                                            class="simply-word"
                                                            >días</span
                                                        >
                                                    </div>
                                                </div>
                                                <div
                                                    class="simply-section simply-hours-section"
                                                >
                                                    <div>
                                                        <span
                                                            class="simply-amount"
                                                            >{{
                                                                props.hours
                                                            }}</span
                                                        >
                                                        <span
                                                            class="simply-word"
                                                            >horas</span
                                                        >
                                                    </div>
                                                </div>
                                                <div
                                                    class="simply-section simply-minutes-section"
                                                >
                                                    <div>
                                                        <span
                                                            class="simply-amount"
                                                            >{{
                                                                props.minutes
                                                            }}</span
                                                        >
                                                        <span
                                                            class="simply-word"
                                                            >minutos</span
                                                        >
                                                    </div>
                                                </div>
                                                <div
                                                    class="simply-section simply-seconds-section"
                                                >
                                                    <div>
                                                        <span
                                                            class="simply-amount"
                                                            >{{
                                                                props.seconds
                                                            }}</span
                                                        >
                                                        <span
                                                            class="simply-word"
                                                            >segundos</span
                                                        >
                                                    </div>
                                                </div>
                                            </div>
                                        </template>
                                    </VueCountdown>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
        </Transition>
    </div>
</template>
<script>
import VueCountdown from "@chenfengyuan/vue-countdown";
import collage from "vue-collage";
import api from "../api";
export default {
    components: {
        VueCountdown,
        collage,
    },
    props: {
        chunk: String,
        config: Object,
        static_background_config: Object,
    },
};
</script>
<style>
@media screen and (max-width: 768px) {
    #fh5co-header .display-tc h1,
    #fh5co-counter .display-tc h1,
    .fh5co-cover .display-tc h1 {
        font-size: 70px;
    }
}

.collage-caption {
    position: absolute;
    z-index: 0;
}
.fade-enter-active,
.fade-leave-active {
    transition: opacity 2s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}
</style>
