<template lang="">
    <div>
        <Loader1 v-show="isLoading"></Loader1>
        <banner
            v-if="!isLoading"
            :chunk="this.chunk"
            :config="this.config"
            :static_background_config="this.static_background_config"
        ></banner>

        <guests></guests>
        <HashtagBanner
            v-if="this.config.hashtag !== null"
            v-show="!isLoading"
            :hashtag="this.config.hashtag"
        ></HashtagBanner>
    </div>
</template>

<script>
import api from "../api";
import Loader1 from "./SectionLoader.vue";
import banner from "./Banner.vue";
import guests from "./GuestsBanner.vue";
import HashtagBanner from "./HashtagBanner.vue";
export default {
    components: { banner, guests, HashtagBanner, Loader1 },
    data() {
        return {
            chunk: "",
            isLoading: true,
            config: {
                banner: {
                    banner_type: "collage",
                    background: "",
                    groom: "",
                    bride: "",
                    date: "",
                    remainingTime: 0,
                    greeting: "Nos vamos a casar ♥",
                },
            },
            static_background_config: {},
        };
    },
    methods: {
        async getBannerConfig() {
            await api.event
                .get(this.chunk)
                .then((response) => {
                    response.data.remainingTime = this.calcRemainingTimeToDate(
                        response.data.date
                    );

                    //response.data.background = "img_bg_2.jpg";
                    this.config = response.data;
                    this.config.banner_images = response.data.banner_images.map(
                        (img) => {
                            return { image: img.url };
                        }
                    );

                    if (response.data.banner_type === "static")
                        this.static_background_config.backgroundImage = `url(/storage/${
                            this.config.static_bg ?? "img_bg_5.jpg"
                        })`;
                    this.isLoading = false;
                })
                .catch((error) => {
                    this.isLoading = false;
                    this.$toast.error("Error loading event data.");
                    console.error(error);
                })
                .finally(() => {
                    this.isLoading = false;
                });
        },
        calcRemainingTimeToDate(date) {
            let rt = this.$moment
                .duration(this.$moment(date).diff(this.$moment()))
                .asMilliseconds();
            return rt;
        },
    },
    mounted() {
        this.getBannerConfig();
    },
    created() {
        this.chunk = window.location.pathname.split("/")[1];
    },
};
</script>
<style></style>
