<template lang="">
    <div class="col-12">
        <div v-for="guest in guestList" :key="guest.id">
            <div class="row">
                <div class="col-12">
                    <span
                        class="lead"
                        :style="{
                            'font-family': 'Sacramento',
                            'font-size': '50px',
                            'font-style': 'normal',
                            color: 'white',
                            'padding-top': '0.5em',
                        }"
                    >
                        {{ guest.nombre }}
                    </span>
                    <button
                        v-show="!guest.confirmado"
                        type="button"
                        class="btn"
                        @click="confirmAttendance(guest)"
                    >
                        <span
                            v-show="
                                !loaders.find((g) => g.id == guest.id).loading
                            "
                            >asistiré</span
                        >
                        <hollowDotsLoader
                            v-show="
                                loaders.find((g) => g.id == guest.id).loading
                            "
                        ></hollowDotsLoader>
                    </button>
                </div>
                <div class="row">
                    <div class="col-12 form-group">
                        <div
                            :disabled="guest.confirmado == true"
                            class="col-lg-4 col-md-4 col-sm-6 col-xs-12"
                            :style="{
                                'padding-top': '0.3em',
                            }"
                            @click="guest.lactosa = !guest.lactosa"
                        >
                            <div class="container-check" :disabled="guest.confirmado == true">
                                Intolerancia a la lactosa
                                <input
                                    :disabled="guest.confirmado == true"
                                    type="checkbox"
                                    class="form-check-input"
                                    :checked="guest.lactosa ? 'checked' : ''"
                                />
                                <span class="checkmark"></span>
                            </div>
                        </div>
                        <div
                            :disabled="guest.confirmado == true"
                            class="col-lg-4 col-md-4 col-sm-6 col-xs-12"
                            :style="{
                                'padding-top': '0.3em',
                            }"
                            @click="guest.nueces = !guest.nueces"
                        >
                            <div class="container-check" :disabled="guest.confirmado == true">
                                Alergia a nueces
                                <input
                                    :disabled="guest.confirmado == true"
                                    type="checkbox"
                                    class="form-check-input"
                                    :checked="guest.nueces ? 'checked' : ''"
                                />
                                <span class="checkmark"></span>
                            </div>
                        </div>
                        <div
                            :disabled="guest.confirmado == true"
                            class="col-lg-4 col-md-4 col-sm-6 col-xs-12"
                            :style="{
                                'padding-top': '0.3em',
                            }"
                            @click="guest.mariscos = !guest.mariscos"
                        >
                            <div class="container-check" :disabled="guest.confirmado == true">
                                Alergia a mariscos
                                <input
                                    :disabled="guest.confirmado == true"
                                    type="checkbox"
                                    class="form-check-input"
                                    :checked="guest.mariscos ? 'checked' : ''"
                                />
                                <span class="checkmark"></span>
                            </div>
                        </div>
                        <div
                            :disabled="guest.confirmado == true"
                            class="col-lg-4 col-md-4 col-sm-6 col-xs-12"
                            :style="{
                                'padding-top': '0.3em',
                            }"
                            @click="guest.vegano = !guest.vegano"
                        >
                            <div class="container-check" :disabled="guest.confirmado == true">
                                Veganismo
                                <input
                                    :disabled="guest.confirmado == true"
                                    type="checkbox"
                                    class="form-check-input"
                                    :checked="guest.vegano ? 'checked' : ''"
                                />
                                <span class="checkmark"></span>
                            </div>
                        </div>
                        <div
                            :disabled="guest.confirmado == true"
                            class="col-lg-4 col-md-4 col-sm-6 col-xs-12"
                            :style="{
                                'padding-top': '0.3em',
                            }"
                            @click="guest.gluten = !guest.gluten"
                        >
                            <div
                                class="container-check"
                                :disabled="guest.confirmado == true"
                            >
                                No consume gluten
                                <input
                                    :disabled="guest.confirmado == true"
                                    type="checkbox"
                                    class="form-check-input"
                                    :checked="guest.gluten ? 'checked' : ''"
                                />
                                <span class="checkmark"></span>
                            </div>
                        </div>
                        <div
                            :disabled="guest.confirmado == true"
                            class="col-lg-4 col-md-4 col-sm-6 col-xs-12"
                            :style="{
                                'padding-top': '0.3em',
                                color: 'white',
                            }"
                        >
                            <div>
                                <input
                                    :disabled="guest.confirmado == true"
                                    placeholder="Otras alergias"
                                    type="text"
                                    class="form-control"
                                    v-model="guest.otra_alergia"
                                    maxlength="50"
                                />
                                {{ guest.otra_alergia.length }}/50
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import api from "../api";
import hollowDotsLoader from "./loaders/HollowDotsLoader.vue";

export default {
    components: {
        hollowDotsLoader,
    },
    data() {
        return {
            loaders: [],
            loadingList: false,
        };
    },
    props: {
        guestList: {
            type: Array,
            default: [],
        },
    },
    methods: {
        async confirmAttendance(guest) {
            if (this.loadingList) return;
            this.loaders.find((g) => g.id == guest.id).loading = true;
            this.loadingList = true;
            await api.event.guests
                .confirmAttendance(guest)
                .then((response) => {
                    if (response.status == 200) {
                        this.$emit("reloadGuests");
                        this.$toast.success("Invitación actualizada con éxito");
                    }
                })
                .catch((err) => {
                    this.$toast.error("No se pudo actualizar la invitación.");
                    console.error(err);
                })
                .finally(() => {
                    this.loadingList = false;
                    this.loaders.find((g) => g.id == guest.id).loading = false;
                });
        },
    },
    watch: {
        guestList(newValue, oldValue) {
            this.loaders = this.guestList.map((g) => {
                return { id: g.id, loading: false };
            });
        },
    },
};
</script>
<style>
div[disabled]{
    pointer-events: none;
}
.container-check {
    display: block;
    position: relative;
    padding: 1em 1em 1em 3em;
    /* margin-bottom: 12px; */
    cursor: pointer;
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    font-family: "Work Sans";
    border-radius: 0.3em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container-check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 1.2em;
    left: 1em;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container-check:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container-check input:checked ~ .checkmark {
    background-color: #f14e95;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container-check input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container-check .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
</style>
