<template lang="">
    <div
        id="fh5co-started"
        class="fh5co-bg"
        style="background-image: url(/storage/img_bg_4.jpg)"
    >
        <div class="overlay"></div>
        <div class="container">
            <div class="row animate-box">
                <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                    <h2>Confirma tu asistencia 🎉</h2>
                    <p>
                        Por favor ingrese el código de invitado que le fue
                        proporcionado para buscar sus invitaciones
                    </p>
                </div>
            </div>
            <div class="row animate-box">
                <Transition name="fade" :duration="500">
                    <div
                        v-show="!showGuestList"
                        class="col-md-10 col-md-offset-1"
                    >
                        <form class="form-inline">
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="sr-only"
                                        >Código de invitado</label
                                    >
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="codigo"
                                        placeholder="Código de invitado"
                                        v-model="inputCode"
                                    />
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <button
                                    type="button"
                                    class="btn btn-default btn-block"
                                    :style="{
                                        display: 'flex',
                                        'align-content': 'center',
                                        'justify-content': 'space-around',
                                        'align-items': 'center',
                                    }"
                                    @click="getGuests()"
                                    :disabled="inputCode === ''"
                                >
                                    <span v-show="!loadingGuestList"
                                        >Buscar invitados</span
                                    >
                                    <hollowDotsLoader
                                        v-show="loadingGuestList"
                                    ></hollowDotsLoader>
                                </button>
                            </div>
                        </form>
                    </div>
                </Transition>
                <Transition name="fade" :duration="500">
                    <div
                        v-show="showGuestList"
                        class="col-md-10 col-md-offset-1"
                    >
                        <GuestList
                            :guestList="guests"
                            v-on:reloadGuests="getGuests()"
                        ></GuestList>
                    </div>
                </Transition>
            </div>
        </div>
    </div>
</template>
<script>
import api from "../api";
import hollowDotsLoader from "./loaders/HollowDotsLoader.vue";
import GuestList from "./GuestList.vue";
export default {
    components: {
        hollowDotsLoader,
        GuestList,
    },
    data() {
        return {
            inputCode: "",
            guests: [],
            loadingGuestList: false,
            showGuestList: false,
        };
    },
    methods: {
        async getGuests() {
            if (this.loadingGuestList === true) return;
            this.loadingGuestList = true;
            if (this.inputCode === "") {
                console.warning("Input code is empty");
            }
            await api.event.guests
                .get(this.inputCode)
                .then((res) => {
                    if (!res.data.length) {
                        this.$toast.warning(
                            "No se encontraron invitaciones con este código."
                        );
                        this.inputCode = '';
                        return;
                    }
                    this.guests = res.data;
                    this.showGuestList = true;
                })
                .catch((err) => {
                    this.$toast.error(
                        "No se pudo mostrar a los invitados"
                    );
                    console.error(err.getMessage());
                })
                .finally(() => {
                    this.loadingGuestList = false;
                });
        },
    },
};
</script>
