<template lang="">
    <div id="fh5co-couple-story">
        <div class="container">
            <div class="row">
                <div
                    class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box fadeInUp animated-fast"
                >
                    <span>Sube tus fotos a Instagram con el hashtag</span>
                    <a
                        :href="`https://www.instagram.com/explore/tags/${hashtag}`"
                        ><h2>#{{ hashtag }}</h2></a
                    >
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    props: {
        hashtag: {
            type: String,
            default: "Hashtag",
        },
    },
};
</script>
<style></style>
